.text_info_right{
	margin-right: 10vw;
}
.text_info_left{
	margin-top: 50px;
	margin-left: 50px;
}
#image{
	margin-top: 50px;
	margin-right: 130px;
}
#image img{
	height: 200px;
   	width:200px;
}
.project_menu{
	width: 10%;
	border-left: 2px solid  black;
	border-top: 2px solid black;
	margin-top: 40px;
	line-height: 10px;
	word-break: break-all;

}
footer{
	width: 90.2%;
}

#Project_one, #Project_two, #Project_three, #Project_four{
	border: 2px solid black;
	line-height: 20px;
	border-right: none;
	border-left:none; 
}